@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meal Planner</h1>
    
</div>
<div class="text-center">
    <h2 class="display-5"><a href="/swagger/index.html">Swagger</a></h2>
</div>